<div>
  <link href="./ev-station.css" rel="stylesheet" />
  <div class="ev-station-blog-post-card">
    <img
      alt="image"
      src="f3f4478f-1c89-41b9-8519-442a4705396b"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="ev-station-image"
    />
    <div class="ev-station-container">
      <div class="ev-station-container1">
        <span class="ev-station-text"><span>Station 1</span></span>
      </div>
      <div class="ev-station-container2">
        <span class="ev-station-text1"><span>Status</span></span>
        <span class="ev-station-text2"><span>Busy</span></span>
      </div>
      <div class="ev-station-container3">
        <span class="ev-station-text3"><span>Remaining</span></span>
        <span class="ev-station-text4"><span>20 min</span></span>
      </div>
    </div>
  </div>
</div>
